{% extends "newbase.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block Content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 mt-5 mb-5">
            <div class="card p-4">
                <h3 class="mb-3">{% trans "Welcome back!" %}</h3>
                <p>{% trans "Not a member yet?" %} <a href="{{ signup_url }}">{% trans "Sign up here" %}</a></p>

                <form method="POST" action="{% url 'account_login' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
                    {% endif %}
                    <button class="btn btn-primary btn-block mt-3" type="submit">{% trans "Sign in" %}</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
